body{
    color:rgb(231, 221, 221);
    background:rgba(11, 26, 72, 0.801);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px rgba(39, 64, 114, 0.733);
    padding: 20px;
    font-size: 35px;
    color: rgba(40, 39, 39, 0.733);
}

.chamada {
    background: rgba(129, 129, 134, 0.445);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}